zips/ActivityNet.zip
zips/Charades-STA.zip
zips/release_checkpoints.zip
zips/TACoS.zip
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0000-0.1192-0.4701.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0000-0.1467-0.4854.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0000-0.1527-0.4816.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0000-0.1625-0.4729.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0000-0.1842-0.5386.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0001-0.2094-0.5224.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0001-0.2227-0.5999.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0001-0.2247-0.5914.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0001-0.2312-0.6216.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0002-0.2734-0.6563.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0003-0.3647-0.6873.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0004-0.3944-0.7303.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0005-0.3794-0.7156.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0006-0.4279-0.7316.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0007-0.4271-0.7351.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0008-0.4459-0.7273.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0009-0.4264-0.7578.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0010-0.4351-0.7353.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0011-0.4306-0.7588.pkl
MS-2D-TAN/checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0012-0.4361-0.6931.pkl
MS-2D-TAN/data/ActivityNet/download.sh
MS-2D-TAN/data/ActivityNet/test.json
MS-2D-TAN/data/ActivityNet/train.json
MS-2D-TAN/data/ActivityNet/val.json
MS-2D-TAN/data/Charades-STA/charades_sta_test.txt
MS-2D-TAN/data/Charades-STA/charades_sta_train.txt
MS-2D-TAN/data/Charades-STA/Charades_v1_test.csv
MS-2D-TAN/data/Charades-STA/Charades_v1_train.csv
MS-2D-TAN/data/Charades-STA/convert_vgg_features_to_hdf5.py
MS-2D-TAN/data/Charades-STA/download.sh
MS-2D-TAN/data/Charades-STA/valid_videos.txt
MS-2D-TAN/data/TACoS/merge_npys_to_hdf5.py
MS-2D-TAN/data/TACoS/test.json
MS-2D-TAN/data/TACoS/train.json
MS-2D-TAN/data/TACoS/val.json
MS-2D-TAN/data/ActivityNet/test.json
MS-2D-TAN/data/ActivityNet/.vector_cache/glove.6B.50d.txt
MS-2D-TAN/data/ActivityNet/activitynet_c3d_fc6_stride_1s.hdf5
MS-2D-TAN/data/ActivityNet/cmcs_features.hdf5
MS-2D-TAN/data/ActivityNet/download.sh
MS-2D-TAN/data/ActivityNet/test.json
MS-2D-TAN/data/ActivityNet/train.json
MS-2D-TAN/data/ActivityNet/val.json
MS-2D-TAN/data/ActivityNet/.vector_cache/glove.6B.100d.txt
MS-2D-TAN/data/ActivityNet/.vector_cache/glove.6B.200d.txt
MS-2D-TAN/data/ActivityNet/.vector_cache/glove.6B.300d.txt
MS-2D-TAN/data/ActivityNet/.vector_cache/glove.6B.300d.txt.pt
MS-2D-TAN/data/ActivityNet/.vector_cache/glove.6B.zip
MS-2D-TAN/data/ActivityNet/download.sh
MS-2D-TAN/data/ActivityNet/test.json
MS-2D-TAN/data/ActivityNet/train.json
MS-2D-TAN/data/ActivityNet/val.json
MS-2D-TAN/data/Charades-STA/charades_c3d_fc6_nonoverlap.hdf5
MS-2D-TAN/data/Charades-STA/charades_i3d_rgb_25fps.hdf5
MS-2D-TAN/data/Charades-STA/charades_sta_test.txt
MS-2D-TAN/data/Charades-STA/charades_sta_train.txt
MS-2D-TAN/data/Charades-STA/Charades_v1_test.csv
MS-2D-TAN/data/Charades-STA/Charades_v1_train.csv
MS-2D-TAN/data/Charades-STA/convert_vgg_features_to_hdf5.py
MS-2D-TAN/data/Charades-STA/download.sh
MS-2D-TAN/data/Charades-STA/i3d_adam_epoch16_25fps.hdf5
MS-2D-TAN/data/Charades-STA/valid_videos.txt
MS-2D-TAN/data/Charades-STA/vgg_rgb_features.hdf5
MS-2D-TAN/data/Charades-STA/.vector_cache/glove.6B.50d.txt
MS-2D-TAN/data/Charades-STA/.vector_cache/glove.6B.100d.txt
MS-2D-TAN/data/Charades-STA/.vector_cache/glove.6B.200d.txt
MS-2D-TAN/data/Charades-STA/.vector_cache/glove.6B.300d.txt
MS-2D-TAN/data/Charades-STA/.vector_cache/glove.6B.300d.txt.pt
MS-2D-TAN/data/Charades-STA/.vector_cache/glove.6B.zip
MS-2D-TAN/data/ActivityNet/download.sh
MS-2D-TAN/data/ActivityNet/test.json
MS-2D-TAN/data/ActivityNet/train.json
MS-2D-TAN/data/ActivityNet/val.json
MS-2D-TAN/data/Charades-STA/charades_sta_test.txt
MS-2D-TAN/data/Charades-STA/charades_sta_train.txt
MS-2D-TAN/data/Charades-STA/Charades_v1_test.csv
MS-2D-TAN/data/Charades-STA/Charades_v1_train.csv
MS-2D-TAN/data/Charades-STA/convert_vgg_features_to_hdf5.py
MS-2D-TAN/data/Charades-STA/download.sh
MS-2D-TAN/data/Charades-STA/valid_videos.txt
MS-2D-TAN/data/TACoS/i3d_imagenet.hdf5
MS-2D-TAN/data/TACoS/merge_npys_to_hdf5.py
MS-2D-TAN/data/TACoS/tacos_c3d_fc6_nonoverlap.hdf5
MS-2D-TAN/data/TACoS/test.json
MS-2D-TAN/data/TACoS/train.json
MS-2D-TAN/data/TACoS/val.json
MS-2D-TAN/data/TACoS/vgg_fc7.hdf5
MS-2D-TAN/data/TACoS/.subword_cache/en/en.wiki.bpe.vs10000.d300.w2v.bin
MS-2D-TAN/data/TACoS/.subword_cache/en/en.wiki.bpe.vs10000.model
MS-2D-TAN/data/TACoS/.vector_cache/glove.6B.50d.txt
MS-2D-TAN/data/TACoS/.vector_cache/glove.6B.100d.txt
MS-2D-TAN/data/TACoS/.vector_cache/glove.6B.200d.txt
MS-2D-TAN/data/TACoS/.vector_cache/glove.6B.300d.txt
MS-2D-TAN/data/TACoS/.vector_cache/glove.6B.300d.txt.pt
MS-2D-TAN/data/TACoS/.vector_cache/glove.6B.zip
MS-2D-TAN/lib/models/__pycache__/__init__.cpython-37.pyc
MS-2D-TAN/lib/models/__pycache__/__init__.cpython-38.pyc
MS-2D-TAN/lib/models/__pycache__/loss.cpython-37.pyc
MS-2D-TAN/lib/models/__pycache__/loss.cpython-38.pyc
MS-2D-TAN/lib/models/__pycache__/TAN.cpython-37.pyc
MS-2D-TAN/lib/models/__pycache__/TAN.cpython-38.pyc
MS-2D-TAN/lib/models/clip_modules/__pycache__/__init__.cpython-37.pyc
MS-2D-TAN/lib/models/clip_modules/__pycache__/__init__.cpython-38.pyc
MS-2D-TAN/lib/models/clip_modules/__pycache__/clip_pool.cpython-37.pyc
MS-2D-TAN/lib/models/clip_modules/__pycache__/clip_pool.cpython-38.pyc
MS-2D-TAN/lib/models/fusion_modules/__pycache__/__init__.cpython-37.pyc
MS-2D-TAN/lib/models/fusion_modules/__pycache__/__init__.cpython-38.pyc
MS-2D-TAN/lib/models/fusion_modules/__pycache__/video_text_fusion.cpython-37.pyc
MS-2D-TAN/lib/models/fusion_modules/__pycache__/video_text_fusion.cpython-38.pyc
MS-2D-TAN/lib/models/map_modules/__pycache__/__init__.cpython-37.pyc
MS-2D-TAN/lib/models/map_modules/__pycache__/__init__.cpython-38.pyc
MS-2D-TAN/lib/models/map_modules/__pycache__/blocks.cpython-37.pyc
MS-2D-TAN/lib/models/map_modules/__pycache__/blocks.cpython-38.pyc
MS-2D-TAN/lib/models/map_modules/__pycache__/map_conv.cpython-37.pyc
MS-2D-TAN/lib/models/map_modules/__pycache__/map_conv.cpython-38.pyc
MS-2D-TAN/lib/models/pred_modules/__pycache__/__init__.cpython-37.pyc
MS-2D-TAN/lib/models/pred_modules/__pycache__/__init__.cpython-38.pyc
MS-2D-TAN/lib/models/pred_modules/__pycache__/modules.cpython-37.pyc
MS-2D-TAN/lib/models/pred_modules/__pycache__/modules.cpython-38.pyc
MS-2D-TAN/lib/models/prop_modules/__pycache__/__init__.cpython-37.pyc
MS-2D-TAN/lib/models/prop_modules/__pycache__/__init__.cpython-38.pyc
MS-2D-TAN/lib/models/prop_modules/__pycache__/dense.cpython-37.pyc
MS-2D-TAN/lib/models/prop_modules/__pycache__/dense.cpython-38.pyc
MS-2D-TAN/lib/models/prop_modules/__pycache__/multiscale.cpython-37.pyc
MS-2D-TAN/lib/models/prop_modules/__pycache__/multiscale.cpython-38.pyc
MS-2D-TAN/lib/models/prop_modules/__pycache__/sparse.cpython-37.pyc
MS-2D-TAN/lib/models/prop_modules/__pycache__/sparse.cpython-38.pyc
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-13-17-52_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-14-03-18_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-16-13-33_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-16-14-18_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-14-42_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-14-49_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-14-51_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-15-27_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-15-39_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-15-42_base.log
MS-2D-TAN/log/charades/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-15-57_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-15-55_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-16-36_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-16-50_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-17-18_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-20-17-50_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-21-01-33_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-21-08-10_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-21-08-33_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-21-08-56_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-21-10-26_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-21-15-48_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-22-12-44_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-22-12-49_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-22-14-25_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-22-17-23_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-22-20-46_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-26-15-12_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-26-15-38_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-27-08-48_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-27-11-36_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-27-12-07_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-27-12-41_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-27-13-13_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-27-13-36_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-02-27-15-15_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-04-10-49_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-04-11-17_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-04-11-46_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-04-12-09_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-04-12-19_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-04-12-23_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-04-12-57_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-04-16-23_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-05-16-03_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-05-20-04_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-06-10-27_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-06-11-54_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-06-13-04_base.log
MS-2D-TAN/log/tacos/MS-2D-TAN-G-VGG/MS-2D-TAN-G-VGG_2024-03-12-16-22_base.log
MS-2D-TAN/outcome/log_12311577.out
MS-2D-TAN/outcome/log_12312194.out
MS-2D-TAN/outcome/log_12312752.out
MS-2D-TAN/outcome/log_12320216.out
MS-2D-TAN/outcome/log_12320220.out
MS-2D-TAN/outcome/log_12320225.out
MS-2D-TAN/outcome/log_12332206.out
MS-2D-TAN/outcome/log_12332567.out
MS-2D-TAN/outcome/log_12332599.out
MS-2D-TAN/outcome/log_12332621.out
MS-2D-TAN/outcome/log_12332627.out
MS-2D-TAN/outcome/log_12332768.out
MS-2D-TAN/outcome/log_12332819.out
MS-2D-TAN/outcome/log_12332835.out
MS-2D-TAN/outcome/log_12332906.out
MS-2D-TAN/outcome/log_12332914.out
MS-2D-TAN/outcome/log_12333041.out
MS-2D-TAN/outcome/log_12333111.out
MS-2D-TAN/outcome/log_12333225.out
MS-2D-TAN/outcome/log_12333335.out
MS-2D-TAN/outcome/log_12334277.out
MS-2D-TAN/outcome/log_12334907.out
MS-2D-TAN/outcome/log_12334919.out
MS-2D-TAN/outcome/log_12334939.out
MS-2D-TAN/outcome/log_12334948.out
MS-2D-TAN/outcome/log_12335033.out
MS-2D-TAN/outcome/log_12339061.out
MS-2D-TAN/outcome/log_12339083.out
MS-2D-TAN/outcome/log_12339083.out.save
MS-2D-TAN/outcome/log_12339086.out
MS-2D-TAN/outcome/log_12339319.out
MS-2D-TAN/outcome/log_12339807.out
MS-2D-TAN/outcome/log_12358527.out
MS-2D-TAN/outcome/log_12358532.out
MS-2D-TAN/outcome/log_12358778.out
MS-2D-TAN/outcome/log_12358796.out
MS-2D-TAN/outcome/log_12359033.out
MS-2D-TAN/outcome/log_12359579.out
MS-2D-TAN/outcome/log_12361227.out
MS-2D-TAN/outcome/log_12361430.out
MS-2D-TAN/outcome/log_12361690.out
MS-2D-TAN/outcome/log_12362017.out
MS-2D-TAN/outcome/log_12362039.out
MS-2D-TAN/outcome/log_12363587.out
MS-2D-TAN/outcome/log_12427143.out
MS-2D-TAN/outcome/log_12427630.out
MS-2D-TAN/outcome/log_12427694.out
MS-2D-TAN/outcome/log_12427827.out
MS-2D-TAN/outcome/log_12427845.out
MS-2D-TAN/outcome/log_12427973.out
MS-2D-TAN/outcome/log_12427995.out
MS-2D-TAN/outcome/log_12429278.out
MS-2D-TAN/outcome/log_12442356.out
MS-2D-TAN/outcome/log_12449093.out
MS-2D-TAN/outcome/log_12450839.out
MS-2D-TAN/outcome/log_12451061.out
MS-2D-TAN/outcome/log_12451141.out
MS-2D-TAN/outcome/log_12471055.out
MS-2D-TAN/release_checkpoints/activitynet/MS-2D-TAN-G-C3D/epoch0006-0.6104-0.8730.pkl
MS-2D-TAN/release_checkpoints/activitynet/MS-2D-TAN-G-I3D/epoch0006-0.6209-0.8761.pkl
MS-2D-TAN/release_checkpoints/charades/MS-2D-TAN-G-C3D/epoch0002-0.4110-0.7758.pkl
MS-2D-TAN/release_checkpoints/charades/MS-2D-TAN-G-I3D/epoch0039-0.5664-0.8825.pkl
MS-2D-TAN/release_checkpoints/charades/MS-2D-TAN-G-I3D-Finetuned/epoch0081-0.6008-0.8780.pkl
MS-2D-TAN/release_checkpoints/charades/MS-2D-TAN-G-VGG/epoch0004-0.4565-0.8339.pkl
MS-2D-TAN/release_checkpoints/tacos/MS-2D-TAN-G-C3D/epoch0021-0.4924-0.7833.pkl
MS-2D-TAN/release_checkpoints/tacos/MS-2D-TAN-G-C3D-H512N512K5A8k9L2/epoch0026-0.5239-0.7731.pkl
MS-2D-TAN/release_checkpoints/tacos/MS-2D-TAN-G-I3D/epoch0046-0.4866-0.7596.pkl
MS-2D-TAN/release_checkpoints/tacos/MS-2D-TAN-G-I3D-H512N512K5A8k9L2/epoch0065-0.5324-0.7748.pkl
MS-2D-TAN/release_checkpoints/tacos/MS-2D-TAN-G-VGG/epoch0034-0.5064-0.7831.pkl
MS-2D-TAN/results/tacos/MS-2D-TAN-G-VGG-test.pkl
MS-2D-TAN/data/ActivityNet/download.sh
MS-2D-TAN/data/ActivityNet/test.json
MS-2D-TAN/data/ActivityNet/train.json
MS-2D-TAN/data/ActivityNet/val.json
MS-2D-TAN/data/ActivityNet/val.json
MS-2D-TAN/data/Charades-STA/charades_sta_test.txt
MS-2D-TAN/data/Charades-STA/charades_sta_train.txt
MS-2D-TAN/data/Charades-STA/Charades_v1_test.csv
MS-2D-TAN/data/Charades-STA/Charades_v1_train.csv
MS-2D-TAN/data/Charades-STA/valid_videos.txt
MS-2D-TAN/data/TACoS/merge_npys_to_hdf5.py
MS-2D-TAN/data/TACoS/test.json
MS-2D-TAN/data/TACoS/train.json
MS-2D-TAN/data/TACoS/val.json
